@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body{
    background: rgb(130,132,207);
background: linear-gradient(90deg, rgba(130,132,207,1) 1%, rgba(90,78,157,1) 35%, rgba(88,70,208,1) 69%, rgba(99,220,245,1) 100%);
background-repeat:repeat;
}

.intro{
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.heading{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 54px;
    font-weight: 600;
    text-shadow:pink 1px 1px;
    margin: auto;
}

.about{
    font-family:'Inter',sans-serif;
    text-align: center;
    font-weight: 700;
    color: aliceblue;
    text-shadow: rgb(220, 36, 66) 1px 1px;
    margin: auto;
    margin-top: 0.5cm;
}

.add-button{
    background-color: rgb(245, 198, 28);
    cursor: pointer;
    color: white;
    border-radius: 1cm;
    padding: 1rem 1rem ;
    margin-left: auto;
    margin-top: 1cm;
    font-family: 'Silkscreen', cursive;
  
}

.add-remove-task{
   margin-top: 1cm;
   margin-left: 3cm;
}

button{
    box-shadow: 2px 6px grey;
}

button:active{
    transform: translateY(4px);
}

.add-button:hover:active {background-color: rgba(255, 179, 0, 0.704);}
.remove-button:hover:active {background-color: rgb(170, 7, 7);}



.add-task{
    border-color: black;
    background-color:white;
    padding: 1rem 5cm;
    border-radius: 1cm;
    margin: 0.8cm;
    text-transform: capitalize;
    text-align:left;
    text-size-adjust: 0.7cm;
    font-size: 0.6cm;
    font-family:'Inter',sans-serif;
    font-weight: bold;


}

.remove-button{
    background-color: rgb(245, 28, 28);
    cursor: pointer;
    color: white;
    border-radius: 1cm;
    padding: 1rem 1rem ;
    margin-right: auto;
    margin-top: 1cm;
    font-family: 'Silkscreen', cursive;
  
}

li{
    text-transform: capitalize;
    padding: 0.4cm .5cm;
}

